h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.container {
  max-width: 375px;
  padding: 0 16px;
}

.hero {
  max-width: 767px;
  padding-top: 48px;
  padding-bottom: 20px;
  background-color: #a1c487;
  background-size: cover;
}

.user-list {
  position: relative;
  display: flex;
  width: 129px;
  height: 44px;
}

.user-item {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
}

.user-item:nth-child(2) {
  z-index: 2;
  left: 28px;
}

.user-item:nth-child(3) {
  z-index: 3;
  left: 57px;
}

.user-item:nth-child(4) {
  z-index: 4;
  left: 85px;
}

.user-item-wrap {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.user-item-count {
  display: block;
  color: #141414;
  text-align: center;
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-family: DM Sans;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.56px;
  text-transform: uppercase;
}

.user-item-text {
  display: block;
  color: #141414;
  text-align: center;
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
  font-size: 8px;
  font-family: DM Sans;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: -0.32px;
}

.title-hero {
  display: block;
  text-align: start;
  margin: 14px auto;
  color: #fff;
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
  font-size: 40px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -1.6px;
  text-transform: uppercase;
}

.title-hero-veg {
  font-style: italic;
}

.hero-text {
  color: #fff;
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-family: DM Sans;
  line-height: 1.29;
  letter-spacing: -0.56px;
  margin-bottom: 20px;
}
